<!DOCTYPE html>
<html>
	<head>
		<title> Gate and Stability (GAS)</title>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container">
			<nav class="navbar-fluid navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand navbar-left" href="#/"> GAS: </a>
                    <p class="navbar-text"> Gate and Stability </p>
                </div>
            </nav>
		<br><br><br>

        <p>Hello Team</p>

		<a href='/data'>D3 Demo</a>
		<br>
		<a href='/d3'>D3 Sample</a>

		</div>
	</body>
</html>

